@font-face {
  font-family: "Playfair Display";

  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Regular.woff") format("woff");

  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Playfair Display";

  src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Bold.woff") format("woff");

  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";

  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");

  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";

  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");

  font-weight: 500;
  font-style: normal;
}
