/* author: Филипп Ригованов */

header nav li {
  display: inline-block;
}

.catalog .wedding {
  height: 442px;
  background-image: url(../img/sammi-sP5CaWEN7Do-unsplash.jpg);
  background-repeat: no-repeat;
}

.catalog .pions {
  height: 442px;
  background-image: url(../img/fresh-beautiful-peony-flowers-vase.jpg);
  background-repeat: no-repeat;
}

.catalog .personal {
  height: 442px;
  background-image: url(../img/alyssa-strohmann-tnpr-hPOta0-unsplash.jpg);
  background-repeat: no-repeat;
}

.contacts .map {
  width: 1440px;
  height: 644.1px;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
}